

h3 {
background-color: blue;
  color: yellow;
font-style: oblique;
  text-align: center;
  padding: 10px;
  font-size: 50px;
  margin-top: 0px;
}

.backgoroundPokemon {
  background-image: url("pokemon-tower-battle.png") ;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.buttons {
  text-align: center;
  padding-top: 200px;


}

.button1 {
  color : yellow;
  font-style: oblique;
  margin-right: 90px;
  background: mediumblue;
  font-size: 30px;
  padding: 30px 40px;

}

.button2 {
  color : yellow;
  font-style: oblique;
  background: darkblue;
  font-size: 30px;
  padding: 30px 40px;
}
