
h1 {
  color: darkblue;
  font-family: "Arial Black";
  font-size: larger;
  text-align: center;
  }

h2 {
  font-size: medium;
  font-style: oblique;
  font-family: "Arial Black";
  }

.details1 {
  font-style: oblique;
  color: darkblue;
  border: 2px solid dodgerblue;
  background-color: yellow;
  }

.details2 {
  color: darkblue;
  border: 2px solid dodgerblue;
  background-color: yellow;
  margin-top: 15px;
  }

.button {
  margin: 0;
  position: absolute;
  right: 45%;
  margin-top: 10px;
  }
